


.container{
    
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
}
/* --- nav bar ------ */
.nav-bar{

    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

}

.logo{
    width: 5rem;
}

.nav-menu{
    
    margin-top: 1rem;

}

.nav-menu > a{

    text-decoration: none;
    color: grey;

}

.nav-social{

    margin-top: 1rem;
    color: grey;

}